#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#editor_box {
  width: 800px;
  height: 400px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


